.css-cwhad8-MuiDateCalendar-root{ 
  width: 100%;
  height: 100%;
}


.MuiDateCalendar-viewTransitionContainer	{  
  width: 100%;
  height: 100%;

}

.MuiDateCalendar-viewTransitionContainer .css-i5q14k-MuiDayCalendar-header { 
    justify-content: space-evenly; 
}


 
.MuiDateCalendar-viewTransitionContainer.css-flbe84-MuiDayCalendar-weekContainer { 
    justify-content: space-evenly;
    background-color: red;
}
