 .planner {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  background-color: palevioletred;

}

.planner__textField-wrap {
  width: 100%;
  display: flex;
}

.planner__textField-wrap--add {
  flex-grow: 1;
  max-height: 140px;
  margin: 0px 5px;


  .planner__textField {
  overflow: auto; 
  border: 1px solid black;
  border-radius: 5px;
}

}
.planner__textField {
  width: 100%;
  border: 1px solid;
}


.add__time {
  width: 30%;
  display: flex;
  height: 100%;
  display: flex; 
  align-items: center;
}



.planner__tasks {
  width: 100%;
  height: 80%;
  max-height: 500px;
  overflow: auto;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  background-color: rebeccapurple; 
}

.planner__task {
  width: 100%;
  background-color: beige;
}

.planner__edit-btns {
  display: flex;
}
