 .planner{
    width: 90%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-content: 'spaseEvenly';
					flex-wrap: wrap; 
 }

 .planner__add{
  width: 100%; 
  border: 1px solid;
     
 }

 .planner__tasks{
  width: 100%;
   overflow: auto;
    height: 80%;
 }


 .planner__task{
  width: 100%; 
  background-color: beige;
 }

 .planner__edit-btns{
  display: flex
 }